$icon-Event: "\6f";
$icon-Explore: "\65";
$icon-Inspiration: "\21";
$icon-Note: "\2d";
$icon-Priority: "\2a";
$icon-TaskComplete: "\78";
$icon-TaskMigrated: "\3e";
$icon-TaskScheduled: "\3c";
$icon-Task: "\2e";
